{% if pagination.getTotalItemCount() > pagination.getItemNumberPerPage() %}
    <ul class="pagination justify-content-center">
        {% if pagination.first is defined %}
            <li class="page-item{% if pagination.isFirstPage %} disabled{% endif %}">
                <a class="page-link" href="{{ pagination.first }}">Premier</a>
            </li>
        {% endif %}

        {% if pagination.previous is defined %}
            <li class="page-item{% if pagination.isFirstPage %} disabled{% endif %}">
                <a class="page-link" href="{{ pagination.previous }}">Précédent</a>
            </li>
        {% endif %}

        {% for page in pagination.pages %}
            <li class="page-item{% if pagination.currentPageNumber == page %} active{% endif %}">
                <a class="page-link" href="{{ pagination.getPageUrl(page) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if pagination.next is defined %}
            <li class="page-item{% if pagination.isLastPage %} disabled{% endif %}">
                <a class="page-link" href="{{ pagination.next }}">Suivant</a>
            </li>
        {% endif %}

        {% if pagination.last is defined %}
            <li class="page-item{% if pagination.isLastPage %} disabled{% endif %}">
                <a class="page-link" href="{{ pagination.last }}">Dernier</a>
            </li>
        {% endif %}
    </ul>
{% endif %}
